@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Forzamos al navegador a usar el 100% del ancho real */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Evita scroll lateral accidental */
}

/* Mantén tus variables de tema oscuro si las tenías, o usa las de sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}